.btn-add-to-cart {
    background: linear-gradient(to right, #e36b2d, #e36b2d) !important;
    color: white !important;
    border: none !important;
    border-radius: 12px !important; 
    padding: 12px 20px !important;
    font-weight: 500;
    width: 100%; 
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(244, 124, 60, 0.3); 
}

.btn-add-to-cart:hover {
    background: linear-gradient(to right, #d76228, #d76228) !important;
    box-shadow: 0 6px 20px rgba(244, 124, 60, 0.4);
}

.btn-add-to-cart:active {
    transform: translateY(0);
}

.btn-add-to-cart i {
    font-size: 1.2rem;
}

.btnLink{
    text-decoration: none;
}