.card.container-main {
    background-color: #C3DEB0; 
    border-radius: 15px ;
    width: 350px;
    min-height: auto;
    border: none;        
    overflow: hidden;   
    padding: 15;
       
}

.container-CardNotification {
    display: flex;
    align-items: center;/* Alinea icono y texto al centro verticalmente */
    gap: 12px;/* Funciona para el espacio entre el icono y el titulo */
    margin-bottom: 5px;
    

}

.container-address-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.address-text {
    margin: 0;
    font-size: 0.95rem;
    color: #333; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
}

.container-CardNotification p{
    margin: 0; 
    font-size: 15px;
}
.container-CardNotification span {
    margin: 0;
    font-size: 15px;
}
