.login-wrapper {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif !important;
}

.top-visual-container {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0; 
}

.top-full-img {
    width: 100%;
    height: auto; 
    display: block;
}

.side-logo {
    max-width: 250px;
    z-index: 2;
}

.left-panel {
    background-color: #293B0F; 
    background-size: cover;
    position: relative;
    background-position: center;
}

.left-panel::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 107%;
    height: 70%; 
    background-image: url('../assets/coffeeLeaves.png'); 
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.3;
    z-index: 1;
    pointer-events: none;
}

.right-panel {
    background: linear-gradient(rgba(241, 246, 223, 0.4), rgba(241, 246, 223, 0.4)),
                url('../assets/tropicalLeaves.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-card {
    background: white;
    border-radius: 25px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.text-success {
    color: #2d5a27 !important;
}

hr {
    border-top: 2px solid #e0e0e0;
    opacity: 1;
    width: 100%;
}

.btn-orange {
    background-color: #f47c3c !important;
    border-radius: 12px !important;
    padding: 15px !important;
    font-size: 1.1rem;
}