/* Fondo de la página completa */
.signup-wrapper {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif !important;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                url('../assets/CozcatlanFondo.png') no-repeat center center;
    background-size: cover;
    padding: 20px;
  }

  
  /* La tarjeta blanca con bordes redondeados */
  .signup-card {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 25px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  

  /* Inputs con estilo minimalista */
  .custom-input {
    background-color: #f8f9fa !important;
    border: 1px solid #dee2e6 !important;
    border-radius: 10px !important;
    padding: 10px 15px;
  }
  
  .custom-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.1);
    border-color: #198754 !important;
  }
  
  /* Colores personalizados */
  .btn-orange {
    background-color: #f47c3c !important;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
  }

  .btn-orange:hover{
    background-color: rgb(209, 94, 0) !important;
  }

  
  .text-orange {
    color: #f47c3c;
    cursor: pointer;
    text-decoration: underline;
  }


   /*Botón de Inicio de Sesión*/
.btnLogin:hover{
    color: #198754 !important;
    background-color: #ebebeb !important;
}


.buttonsFlex{
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
